In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
visa_df = pd.read_csv(r"C:\Users\mayur\Downloads\Visadataset.csv")

In [4]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [5]:
emp.shape ## dimention of the dataframe

NameError: name 'emp' is not defined

In [ ]:
len(emp)

In [ ]:
emp.columns

In [ ]:
len(emp.columns)

In [ ]:
emp.info()

In [ ]:
emp

In [ ]:
emp['Name']

In [ ]:
emp['Domain']

In [ ]:
emp['Age']

In [ ]:
emp['Location']

In [ ]:
emp['Salary']

In [ ]:
emp['Exp']

In [ ]:
emp[['Name','Domain']]

In [ ]:
emp[['Name','Domain','Exp']]

In [ ]:
emp[['Name','Domain','Age','Location','Salary','Exp']]

Data cleaning

In [ ]:
emp['Name']

In [ ]:
emp['Name'] = emp['Name'].str.replace(r'\W','')

In [ ]:
emp['Name']

In [ ]:
emp['Domain'] = emp['Domain'].str.replace(r'\W','')

In [ ]:
emp['Domain']

In [ ]:
emp['Age'] = emp['Age'].str.replace(r'\W','')

In [ ]:
emp['Age']

In [ ]:
emp['Age'] = emp['Age'].str.extract('(\d+)')

In [ ]:
emp['Age']

In [ ]:
emp

In [ ]:
emp['Location'] = emp['Location'].str.replace(r'\W','')

In [ ]:
emp['Location']

In [ ]:
emp['Salary'] = emp['Salary'].str.replace(r'\W','', regex = True).astype(int)

In [ ]:
emp['Salary']

In [ ]:
emp['Exp'] = emp['Exp'].str.extract('(\d+)')

In [ ]:
emp['Exp']

In [ ]:
emp

In [ ]:
clean_data = emp.copy()

In [ ]:
clean_data

Missing Value treatement

In [ ]:
clean_data

In [ ]:
clean_data.info()

In [ ]:
import numpy as np

In [ ]:
clean_data

In [ ]:
clean_data['Age']

In [ ]:
clean_data['Age'] = clean_data['Age'].fillna(np.mean(pd.to_numeric(clean_data['Age'])))

In [ ]:
clean_data['Age']

In [ ]:
emp

In [ ]:
clean_data

In [ ]:
clean_data['Exp'] = clean_data['Exp'].fillna(np.mean(pd.to_numeric(clean_data['Exp'])))

In [ ]:
clean_data['Exp']

In [ ]:
clean_data

In [ ]:
clean_data['Location'] = clean_data['Location'].fillna(clean_data['Location'].mode()[0])

In [ ]:
clean_data['Location'].mode()

In [ ]:
clean_data

In [ ]:
clean_data['Age'] = pd.to_numeric(clean_data['Age'], errors='coerce')

In [ ]:
clean_data['Age']

In [ ]:
clean_data['Salary'] = pd.to_numeric(clean_data['Salary'], errors='coerce')

In [ ]:
clean_data['Salary']

In [ ]:
clean_data['Salary']

In [ ]:
clean_data['Exp'] = pd.to_numeric(clean_data['Exp'], errors='coerce')

In [ ]:
clean_data['Exp']

In [ ]:
clean_data

In [ ]:
clean_data.info()

In [ ]:
clean_data['Name'] = clean_data['Name'].astype('category')

In [ ]:
clean_data['Name']

In [ ]:
clean_data['Domain'] = clean_data['Domain'].astype('category')

In [ ]:
clean_data['Domain']

In [ ]:
clean_data['Location'] = clean_data['Location'].astype('category')

In [ ]:
clean_data['Location']

In [ ]:
clean_data.info()

In [ ]:
clean_data

In [ ]:
clean_data.to_csv('clean_data.csv')

In [ ]:
import os
os.getcwd()

In [ ]:
clean_data.columns

In [ ]:
import matplotlib.pyplot as plt # visualization
import seaborn as sns # Advanced visualization

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
clean_data

In [ ]:
clean_data['Age'] = [78, 98, 54, 63, 74, 63]

In [ ]:
clean_data

In [ ]:
plt.figure(figsize=(20,4))
plt.bar(x=clean_data['Name'], height=clean_data['Age'])

In [ ]:
clean_data['Salary']

In [ ]:
vis1 = sns.distplot(clean_data['Salary'])

In [ ]:
plt.rcParams['figure.figsize'] = 10,6

In [ ]:
vis1 = sns.distplot(clean_data['Salary'])

In [ ]:
vis2 = plt.hist(clean_data['Salary'])

In [ ]:
vis3 = plt.hist(clean_data['Exp'])

In [ ]:
vis4 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary')

In [ ]:
vis5 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary', fit_reg = False)

In [ ]:
vis6 = sns.lmplot(data=clean_data,x = 'Exp', y='Salary', fit_reg = True)

In [ ]:
clean_data

In [ ]:
visa_df = pd.read_csv(r"C:\Users\mayur\Downloads\Visadataset.csv")

In [ ]:
visa_df

In [ ]:
visa_df.info()