In [31]:
import pandas as pd

In [32]:
movies = pd.read_csv(r"C:\Users\mayur\Downloads\Movie-Rating.csv")

In [33]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [34]:
movies

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009
...,...,...,...,...,...,...
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [35]:
type(movies)

pandas.core.frame.DataFrame

In [36]:
movies

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009
...,...,...,...,...,...,...
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [37]:
len(movies)

559

In [38]:
import numpy
print(numpy.__version__)

2.1.3

In [39]:
import pandas
print(pandas.__version__)

2.2.3

In [40]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [41]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Film                       559 non-null    object
 1   Genre                      559 non-null    object
 2   Rotten Tomatoes Ratings %  559 non-null    int64
 3   Audience Ratings %         559 non-null    int64
 4   Budget (million $)         559 non-null    int64
 5   Year of release            559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [42]:
movies.shape

(559, 6)

In [43]:
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [44]:
movies.tail()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
554,Your Highness,Comedy,26,36,50,2011
555,Youth in Revolt,Comedy,68,52,18,2009
556,Zodiac,Thriller,89,73,65,2007
557,Zombieland,Action,90,87,24,2009
558,Zookeeper,Comedy,14,42,80,2011

In [45]:
movies.columns

Index(['Film', 'Genre', 'Rotten Tomatoes Ratings %', 'Audience Ratings %',
       'Budget (million $)', 'Year of release'],
      dtype='object')

In [46]:
movies.columns = ['Film', 'Genre','CriticRating','AudienceRatings','BudgeMillionce','Year']

In [47]:
movies.head(1)

,Film,Genre,CriticRating,AudienceRatings,BudgeMillionce,Year
0,(500) Days of Summer,Comedy,87,81,8,2009

In [48]:
movies.shape

(559, 6)

In [49]:
movies.describe()

       CriticRating  AudienceRatings  BudgeMillionce         Year
count    559.000000       559.000000      559.000000   559.000000
mean      47.309481        58.744186       50.236136  2009.152057
std       26.413091        16.826887       48.731817     1.362632
min        0.000000         0.000000        0.000000  2007.000000
25%       25.000000        47.000000       20.000000  2008.000000
50%       46.000000        58.000000       35.000000  2009.000000
75%       70.000000        72.000000       65.000000  2010.000000
max       97.000000        96.000000      300.000000  2011.000000

In [50]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film             559 non-null    object
 1   Genre            559 non-null    object
 2   CriticRating     559 non-null    int64
 3   AudienceRatings  559 non-null    int64
 4   BudgeMillionce   559 non-null    int64
 5   Year             559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [51]:
movies.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
CriticRating,559.0,47.309481,26.413091,0.0,25.0,46.0,70.0,97.0
AudienceRatings,559.0,58.744186,16.826887,0.0,47.0,58.0,72.0,96.0
BudgeMillionce,559.0,50.236136,48.731817,0.0,20.0,35.0,65.0,300.0
Year,559.0,2009.152057,1.362632,2007.0,2008.0,2009.0,2010.0,2011.0

In [52]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film             559 non-null    object
 1   Genre            559 non-null    object
 2   CriticRating     559 non-null    int64
 3   AudienceRatings  559 non-null    int64
 4   BudgeMillionce   559 non-null    int64
 5   Year             559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [53]:
movies.Film = movies.Film.astype('category')

In [54]:
movies.describe()

       CriticRating  AudienceRatings  BudgeMillionce         Year
count    559.000000       559.000000      559.000000   559.000000
mean      47.309481        58.744186       50.236136  2009.152057
std       26.413091        16.826887       48.731817     1.362632
min        0.000000         0.000000        0.000000  2007.000000
25%       25.000000        47.000000       20.000000  2008.000000
50%       46.000000        58.000000       35.000000  2009.000000
75%       70.000000        72.000000       65.000000  2010.000000
max       97.000000        96.000000      300.000000  2011.000000

In [55]:
movies.Genre = movies.Genre.astype('category')

In [56]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film             559 non-null    category
 1   Genre            559 non-null    category
 2   CriticRating     559 non-null    int64
 3   AudienceRatings  559 non-null    int64
 4   BudgeMillionce   559 non-null    int64
 5   Year             559 non-null    int64
dtypes: category(2), int64(4)
memory usage: 40.1 KB

In [57]:
movies.describe()

       CriticRating  AudienceRatings  BudgeMillionce         Year
count    559.000000       559.000000      559.000000   559.000000
mean      47.309481        58.744186       50.236136  2009.152057
std       26.413091        16.826887       48.731817     1.362632
min        0.000000         0.000000        0.000000  2007.000000
25%       25.000000        47.000000       20.000000  2008.000000
50%       46.000000        58.000000       35.000000  2009.000000
75%       70.000000        72.000000       65.000000  2010.000000
max       97.000000        96.000000      300.000000  2011.000000

In [58]:
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

AttributeError: module 'matplotlib.cm' has no attribute 'register_cmap'

In [ ]:
j = sns.jointplot(data = movies,x = 'CriticRating', y = 'AudienceRatings',kind = 'hex' )
j

In [ ]:
j = sns.jointplot(data = movies, x ='CriticRating', y ='AudienceRatings',kind = 'hex')

In [ ]:
#Histograms

#<<< chat1

m1 = sns.distplot(movies.AudienceRatings)
#y - axis generated by seaborn automatically that is the powerfull of seaborn gallery

In [ ]:
sns.set_style('darkgrid')

In [ ]:
m2 = sns.distplot(movies.AudienceRatings, bins = 15)

In [ ]:
#sns.set_style('darkgrid')
n1 = plt.hist(movies.AudienceRatings, bins=15)

In [ ]:
sns.set_style('white') #normal distribution & called as bell curve
n1 = plt.hist(movies.AudienceRatings, bins=20)

In [ ]:
n1 = plt.hist(movies.CriticRating, bins=20) #uniform distribution

In [ ]:
# <<< chat - 2

# Creating stacked histograms & this is bit tough to understand

In [ ]:
#h1 = plt.hist(movies.BudgetMillions)

plt.hist(movies.BudgeMillionce)
plt.show()

In [ ]:
plt.hist(movies[movies.Genre == 'Drama'].BudgeMillionce)
plt.show()

In [ ]:
movies.head()

In [ ]:
#movies.Genre.unique()

In [ ]:
# Below plots are stacked histogram becuase overlaped

plt.hist(movies[movies.Genre == 'Action'].BudgeMillionce, bins = 20)
plt.hist(movies[movies.Genre == 'Thriller'].BudgeMillionce, bins = 20)
plt.hist(movies[movies.Genre == 'Drama'].BudgeMillionce, bins = 20)
plt.legend()
plt.show()

In [ ]:
plt.hist([movies[movies.Genre == 'Action'].BudgeMillionce,\
          movies[movies.Genre == 'Drama'].BudgeMillionce, \
          movies[movies.Genre == 'Thriller'].BudgeMillionce, \
          movies[movies.Genre == 'Comedy'].BudgeMillionce],
         bins = 20, stacked = True)
plt.show()

In [ ]:
# if you have 100 categories you cannot copy & paste all the things

for gen in movies.Genre.cat.categories:
    print(gen)

In [ ]:
vis1 = sns.lmplot(data=movies, x='CriticRating', y='AudienceRatings',\
                 fit_reg=False)

In [ ]:
vis1 = sns.lmplot(data=movies, x='CriticRating', y='AudienceRatings',\
                 fit_reg=False, hue = 'Genre')

In [ ]:
vis1 = sns.lmplot(data=movies, x='CriticRating', y='AudienceRatings',\
                 fit_reg=False, hue = 'Genre', height = 10,aspect=1)

In [ ]:
# Kernal Density Estimate plot ( KDE PLOT) 
# how can i visulize audience rating & critics rating . using scatterplot

In [ ]:
import seaborn as sns
sns.__version__
# where do u find more density and how density is distibuted across from the the chat 
# center point is kernal this is calld KDE & insteade of dots it visualize like this
# we can able to clearly see the spread at the audience ratings

In [ ]:
sns.set_style('dark')
k1 = sns.kdeplot(
    x=movies.BudgeMillionce,
    y=movies.AudienceRatings,
    fill=True,
    thresh=0.05,
    levels=20,
    cmap='Greens_r'
)

In [ ]:
sns.set_style('dark')
k1 = sns.kdeplot(
    x=movies.BudgeMillionce,
    y=movies.AudienceRatings,
    fill=True,
    cmap='Greens_r'
)

In [ ]:
pip install --upgrade seaborn

In [ ]:
sns.jointplot(
    data=movies,
    x='BudgeMillionce',
    y='AudienceRatings',
    kind='kde',
    fill=True
)

plt.show()

In [ ]:
k2 = sns.kdeplot(
    x=movies.BudgeMillionce,
    y=movies.CriticRating,
    fill=True,
    cmap="Blues"
)

In [ ]:
#subplots
f, ax = plt.subplots(1,2, figsize =(12,6))
#f, ax = plt.subplots(3,3, figsize =(12,6))

In [ ]:
f, axes = plt.subplots(1, 2, figsize=(12, 6))
k1 = sns.kdeplot(
x=movies.BudgeMillionce,
y=movies.AudienceRatings,
fill=True,
thresh=0.05,
levels=15,
cmap='Greens',
ax=axes[0]
)


k2 = sns.kdeplot(
x=movies.BudgeMillionce,
y=movies.CriticRating,
fill=True,
thresh=0.05,
levels=15,
cmap='Reds',
ax=axes[1]
)
plt.show()

In [ ]:
axes

In [ ]:
#Box plots -
w = sns.boxplot(data=movies, x='Genre', y = 'CriticRating')

In [ ]:
#violin plot
z = sns.violinplot(data=movies, x='Genre', y = 'CriticRating')

In [ ]:
w1 = sns.boxplot(data=movies[movies.Genre == 'Drama'], x='Year', y = 'CriticRating')

In [ ]:
z = sns.violinplot(data=movies[movies.Genre == 'Drama'], x='Year', y = 'CriticRating')

Createing a Facet grid

In [ ]:
g =sns.FacetGrid (movies, row = 'Genre', col = 'Year', hue = 'Genre') #kind of subplots

In [ ]:
plt.scatter(movies.CriticRating,movies.AudienceRatings)

In [ ]:
g =sns.FacetGrid (movies, row = 'Genre', col = 'Year', hue = 'Genre')
g = g.map(plt.scatter, 'CriticRating', 'AudienceRatings' ) #scatterplots are mapped in facetgrid

In [ ]:
# you can papulated any type of chat
g =sns.FacetGrid (movies, row = 'Genre', col = 'Year', hue = 'Genre')
g = g.map(plt.hist, 'BudgeMillionce') #scatterplots are mapped in facetgrid

In [ ]:
g =sns.FacetGrid (movies, row = 'Genre', col = 'Year', hue = 'Genre')
kws = dict(s=50, linewidth=0.5,edgecolor='black')
g = g.map(plt.scatter, 'CriticRating', 'AudienceRatings',**kws) #scatterplots are mapped in facetgrid

In [ ]:
pip install seaborn==0.11.2

In [ ]:
# python is not vectorize programming language
# Building dashboards (dashboard - combination of charts)
sns.set_style('darkgrid')
f, axes = plt.subplots(2, 2, figsize=(15, 15))
# KDE plots
k1 = sns.kdeplot(x=movies.BudgeMillionce, y=movies.AudienceRatings, ax=axes[0,0])
k2 = sns.kdeplot(x=movies.BudgeMillionce, y=movies.CriticRating, ax=axes[0,1])
k1.set(xlim=(-20,160))
k2.set(xlim=(-20,160))
# Violin plot
z = sns.violinplot(
data=movies[movies.Genre == 'Drama'],
x='Year',
y='CriticRating',
ax=axes[1,0]
)
# Scatter style KDE
k4 = sns.kdeplot(
x=movies.CriticRating,
y=movies.AudienceRatings,
fill=True,
ax=axes[1,1],
cmap='Reds'
)
k4b = sns.kdeplot(
x=movies.CriticRating,
y=movies.AudienceRatings,
ax=axes[1,1],
cmap='Reds'
)
plt.show()

In [ ]:
# How can you style your dashboard using different color map
# python is not vectorize programming language
# Building dashboards (dashboard - combination of charts)
sns.set_style('dark', {'axes.facecolor': 'black'})
f, axes = plt.subplots(2, 2, figsize=(15, 15))
# plot [0,0]
k1 = sns.kdeplot(
x=movies.BudgeMillionce,
y=movies.AudienceRatings,
fill=True,
cmap='inferno',
ax=axes[0, 0]
)
k1b = sns.kdeplot(
x=movies.BudgeMillionce,
y=movies.AudienceRatings,
cmap='cool',
ax=axes[0, 0]
)
# plot [0,1]
k2 = sns.kdeplot(
x=movies.BudgeMillionce,
y=movies.CriticRating,
fill=True,
    cmap='inferno',
    ax=axes[0,1]
)
k2b=sns.kdeplot(
    x=movies.BudgeMillionce,
    y=movies.CriticRating,
    cmap='cool',
    ax=axes[0, 1]
)

# plot [1,0]
z = sns.violinplot(
    data=movies[movies.Genre == 'Drama'],
    x='Year',
    y='CriticRating',
    ax=axes[1,0]
)

# plot [1,1]
k4 = sns.kdeplot(
    x=movies.CriticRating,
    y=movies.AudienceRatings,
    fill=True,
    cmap='Blues_r',
    ax=axes[1,1]
)

k4b = sns.kdeplot(
    x=movies.CriticRating,
    y=movies.AudienceRatings,
    cmap='gist_gray_r',
    ax=axes[1,1]
)

# Limits
k1.set(xlim=(-20, 160))
k2.set(xlim=(-20, 160))

plt.show()