In [116]:
li = ["geeks", "for", "geeks"]
for x in li:
    print(x)
    
tup = ("geeks", "for", "geeks")
for x in tup:
    print(x)
    
s = "abc"
for x in s:
    print(x)
    
d = dict({'x':123, 'y':354})
for x in d:
    print("%s  %d" % (x, d[x]))
    
set1 = {10, 30, 20}
for x in set1:
    print(x),

geeks
for
geeks
geeks
for
geeks
a
b
c
x  123
y  354
10
20
30

In [117]:
li = ["geeks", "for", "geeks"]
for index in range(len(li)):
    print(li[index])

geeks
for
geeks

In [118]:
from __future__ import print_function
for i in range(1, 5):
    for j in range(i):
        print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [119]:
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        continue
    print('Current Letter :', letter)

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [120]:

x = [1, 2]
y = [4, 5]

for i in x:
  for j in y:
    print(i, j)

1 4
1 5
2 4
2 5

In [121]:
x = [1, 2]
y = [4, 5]
i = 0
while i < len(x) :
  j = 0
  while j < len(y) :
    print(x[i] , y[j])
    j = j + 1
  i = i + 1

1 4
1 5
2 4
2 5

if

else

nested if

if elif else

In [2]:
if True:
    print('Data Science')

Data Science

In [4]:
if False:
    print('Data Science')
print('bye for now')

bye for now

In [5]:
if True:
    print('Data Science')
else:
    print('bye for now')

Data Science

In [6]:
if False:
    print('Data Science job')
else:
    print('no job')

no job

In [7]:
x = 4
r = x % 2

if r == 0:
    print('Even number')

Even number

In [12]:
x = 5
r = x % 2

if r != 0:
    print('Odd number')

Odd number

In [13]:
x = 5
r = x % 2

if r == 0:
    print('Even number')

print('Odd number')

Odd number

In [14]:
x = 7
r = x % 2

if r == 0:
    print('Even number')

print('Odd number')

Odd number

In [15]:
x = 4
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

Even number
odd number

In [16]:
x = 6
r = x % 2 

if r == 0:
    print('Even number')
    
print('odd number')

Even number
odd number

In [17]:
x = 9
r = x % 2 

if r == 0:
    print('Even number')
    
if r == 1:
    print('odd number')

odd number

In [18]:
x = 8
r = x % 2 

if r == 0:
    print('Even number')
    
else:
    print('odd number')

Even number

In [19]:
x = 9
r = x % 2 

if r !=  0:
    print('odd number')
    
else:
    print('even number')

odd number

In [20]:
x = 3
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')

else:
    print('Odd Number')

Odd Number

In [21]:
x = 5
r = x % 2

if r == 0:
    print('Even number')
    if x>5:
        print('greater number')

else:
    print('Odd Number')

Odd Number

In [22]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')

else:
    print('Odd Number')

Even number

In [23]:
x = 4
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Even number
lesser number

In [24]:
x = 6
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Even number
greater number

In [25]:
x = 13
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Odd Number

In [26]:
x = 15
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Odd Number

In [27]:
x = 14
r = x % 2

if r == 0:
    print('Even number')
    
    if x>5:
        print('greater number')
    else:
        print('lesser number')

else:
    print('Odd Number')

Even number
greater number

In [29]:
 x = 3

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

Three

In [30]:
 x = 4

if x == 1:
    print('one')
if x == 2:
    print('Two')
if x == 3:
    print('Three')
if x == 4:
    print('four')

four

In [33]:
x = 5

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

In [34]:
x = 6

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

number not found

In [35]:
x = 3

if x == 1:
    print('one')
    
elif x == 2:
    print('Two')
elif x == 3:
    print('Three')
elif x == 4:
    print('four')

else:
    print('number not found')

Three

In [36]:
age = 19
if age > 18: print("Eligible to Vote.")

Eligible to Vote.

Loops in python

In [37]:
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')

ds
ds
ds
ds
ds

In [39]:
print('ds')
print('ds')
print('ds')
print('ds')
print('ds')

ds
ds
ds
ds
ds

In [40]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [41]:
i = 1          # initializing

while i<=8:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science
data science
data science
data science

In [43]:
i = 1          # initializing

while i<=50:    # condition
    print('data science')
    i = i + 2  # increment

data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science
data science

In [45]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 3  # increment

data science
data science

In [46]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decrement

data science
data science
data science
data science
data science

In [48]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 2
    # decrement

data science
data science
data science

In [49]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [50]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 5
    # increment

data science :  1

In [52]:
i = 5          # initializing

while i>=1:    # condition
    print('data science :', i)
    
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [53]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [54]:
i = 1

while i<=6:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [55]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [56]:
i = 1
while i<=8:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [57]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [58]:

i = 1

while i <= 5 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4
0 3 6
0 4 8
0 5 10

In [59]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [60]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 6 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3 4 5 6
0 2 4 6 8 10 12
0 3 6 9 12 15 18
0 4 8 12 16 20 24

In [62]:
 #lets use while loop usig some numbers
i = 10

while i <= 4 :
    j = 1
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
         
    print()
    i += 1
    
else:
    print('condition is not match')

condition is not match

for loop

In [63]:
name = 'nit'

for i in name:
    print(i)

n
i
t

In [64]:
name = 'cet'

for i in name:
    print(i)

c
e
t

In [65]:
name1 = [1, 3.5,'hallo'] 

for i in name1:
    print(i)

1
3.5
hallo

In [66]:
name1 = [1, 3.6,'hallo'] 

for i in name1:
    print(i)

1
3.6
hallo

In [67]:
range(5)

range(0, 5)

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

In [69]:
for i in range(8):
    print(i)

0
1
2
3
4
5
6
7

In [70]:
for i in range(25):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [71]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [72]:
for i in range(20,60,5):
    print(i)

20
25
30
35
40
45
50
55

In [73]:
for i in range(10,50,6):
    print(i)

10
16
22
28
34
40
46

In [74]:
# print the value which is divisible by 5 
for i in range(1,31):
    
    if i%3 == 0 :
        print(i)

3
6
9
12
15
18
21
24
27
30

In [75]:
# print the value which is divisible by 5 
for i in range(1,35):
    
    if i%3 == 0 :
        print(i)

3
6
9
12
15
18
21
24
27
30
33

In [77]:
# print the value which is divisible by 5 
for i in range(1,51):
    
    if i%4 == 0 :
        print(i)

4
8
12
16
20
24
28
32
36
40
44
48

Break, Continue, Pass

In [78]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [79]:
for i in range(1,51):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [80]:
for i in range(1,11):
    if i == 4: 
       break 
    print(i)

1
2
3

In [81]:
for i in range(1,11):
    if i == 9: 
       break 
    print(i)

1
2
3
4
5
6
7
8

In [82]:
for i in range(1,11):
    if i == 4: 
       continue 
    print(i)

1
2
3
5
6
7
8
9
10

In [83]:
for i in range(1,31):
    if i == 4: 
       continue
    print(i)

1
2
3
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [84]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1334445784.py, line 1)

In [87]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [88]:
x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet :', i)
    i += 1

How many choclets you want:? 45

choclet : 1
choclet : 2
choclet : 3
choclet : 4
choclet : 5
choclet : 6
choclet : 7
choclet : 8
choclet : 9
choclet : 10
choclet : 11
choclet : 12
choclet : 13
choclet : 14
choclet : 15
choclet : 16
choclet : 17
choclet : 18
choclet : 19
choclet : 20
choclet : 21
choclet : 22
choclet : 23
choclet : 24
choclet : 25
choclet : 26
choclet : 27
choclet : 28
choclet : 29
choclet : 30
choclet : 31
choclet : 32
choclet : 33
choclet : 34
choclet : 35
choclet : 36
choclet : 37
choclet : 38
choclet : 39
choclet : 40
choclet : 41
choclet : 42
choclet : 43
choclet : 44
choclet : 45

In [89]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet:', i)
    i += 1

How many choclets you want:? 11

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
choclet: 6
choclet: 7
choclet: 8
choclet: 9
choclet: 10
choclet: 11

In [92]:
ava = 5 # the machine has only 5 choclet 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    print('choclet:', i)
    i += 1

How many choclets you want:? 4

choclet: 1
choclet: 2
choclet: 3
choclet: 4

In [93]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets user want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        break # break is statement | means jump out of the loop
    print('choclet')
    i += 1   
    
print('bye for now ')

How many choclets user want:? 22

choclet
choclet
choclet
choclet
choclet
bye for now

In [94]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet:', i)
    i += 1   
    
print('bye for now')

How many choclets you want:? 8

choclet: 1
choclet: 2
choclet: 3
choclet: 4
choclet: 5
out of stock
bye for now

In [95]:
available_choclet = 5 # the machine has only 10 candis 

x = int(input('How many choclets you want:?'))

i = 1
while i<=x:
    
    if i>available_choclet: # we stop the execution but which code execution not entire code , i want to come out of while loop 
        print('out of stock')
        break # break is statement | means jump out of the loop
    print('choclet:', i)
    i += 1   
    
print('bye for now')

How many choclets you want:? 4

choclet: 1
choclet: 2
choclet: 3
choclet: 4
bye for now

In [96]:
for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [98]:
for i in range(1,81):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
end

In [99]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [100]:
for i in range(1,51):
    
    if i%4 == 0:
        continue
    print(i)
print('end')

1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30
31
33
34
35
37
38
39
41
42
43
45
46
47
49
50
end

In [102]:
for i in range(1,51):
    
    if i%8 == 0:
        break
    print(i)
print('end')

1
2
3
4
5
6
7
end

In [103]:
for i in range(1,51): 
    
    if i%3 == 0 or i%5 == 0:
        
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [104]:
for i in range(1,51): 
    
    if i%3 == 0 or i%8 == 0:
        
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
5
7
10
11
13
14
17
19
20
22
23
25
26
28
29
31
34
35
37
38
41
43
44
46
47
49
50

In [105]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)

15
30
40

In [106]:
nums = [12,15,18,21,26, 30,40]

for num in nums:
    if num % 6 == 0:
        print(num)

12
18
30

In [107]:
nums = [12,5,15,18,21,26, 30,40]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

5
15
30
40

In [108]:
nums = [12,5,15,18,21,26, 30,40]

for num in nums:
    if num % 8 == 0:
        print(num)
        #break

40

In [110]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

In [111]:
nums = [12,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)
        #break

else:
    print('number not found')

number not found

In [113]:
nums = [12,18,21,26,15]

for num in nums:
    if num % 4 == 0:
        print(num)
        break

else:
    print('number not found')

12

In [114]:
nums = [12,18,21,26,15]

for num in nums:
    if num % 5 == 0:
        print(num)
        break

else:
    print('number not found')

15

In [115]:
nums = [12,18,21,26,15]

for num in nums:
    if num % 2 == 0:
        print(num)
        break

else:
    print('number not found')

12